In [2]:
import pandas as pd

In [3]:
product_data = pd.read_csv('olist_products_dataset.csv')
order_data = pd.read_csv('olist_order_items_dataset.csv')

In [4]:
product_data.head()

,product_id,product_category_name,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm
0,1e9e8ef04dbcff4541ed26657ea517e5,perfumaria,40.0,287.0,1.0,225.0,16.0,10.0,14.0
1,3aa071139cb16b67ca9e5dea641aaa2f,artes,44.0,276.0,1.0,1000.0,30.0,18.0,20.0
2,96bd76ec8810374ed1b65e291975717f,esporte_lazer,46.0,250.0,1.0,154.0,18.0,9.0,15.0
3,cef67bcfe19066a932b7673e239eb23d,bebes,27.0,261.0,1.0,371.0,26.0,4.0,26.0
4,9dc1a7de274444849c219cff195d0b71,utilidades_domesticas,37.0,402.0,4.0,625.0,20.0,17.0,13.0

In [5]:
order_data.head()

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value
0,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-09-19 09:45:35,58.90,13.29
1,00018f77f2f0320c557190d7a144bdd3,1,e5f2d52b802189ee658865ca93d83a8f,dd7ddc04e1b6c2c614352b383efe2d36,2017-05-03 11:05:13,239.90,19.93
2,000229ec398224ef6ca0657da4fc703e,1,c777355d18b72b67abbeef9df44fd0fd,5b51032eddd242adc84c38acab88f23d,2018-01-18 14:48:30,199.00,17.87
3,00024acbcdf0a6daa1e931b038114c75,1,7634da152a4610f1595efa32f14722fc,9d7a1d34a5052409006425275ba1c2b4,2018-08-15 10:10:18,12.99,12.79
4,00042b26cf59d7ce69dfabb4e55b4fd9,1,ac6c3623068f30de03045865e4e10089,df560393f3a51e74553ab94004ba5c87,2017-02-13 13:57:51,199.90,18.14

In [5]:
product_data.shape

(32951, 9)

In [6]:
order_data.shape

(112650, 7)

In [7]:
product_data.product_id.nunique()

32951

In [8]:
order_data.product_id.nunique()

32951

In [9]:
# Removing duplicates from the order_data
order_data = order_data.drop_duplicates(subset='product_id', keep='first')

In [10]:
order_data.shape

(32951, 7)

In [11]:
# Merging the 2 datasets 
merged_dataset = pd.merge(order_data, product_data, on='product_id')

In [12]:
merged_dataset.head()

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value,product_category_name,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm
0,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-09-19 09:45:35,58.90,13.29,cool_stuff,58.0,598.0,4.0,650.0,28.0,9.0,14.0
1,00018f77f2f0320c557190d7a144bdd3,1,e5f2d52b802189ee658865ca93d83a8f,dd7ddc04e1b6c2c614352b383efe2d36,2017-05-03 11:05:13,239.90,19.93,pet_shop,56.0,239.0,2.0,30000.0,50.0,30.0,40.0
2,000229ec398224ef6ca0657da4fc703e,1,c777355d18b72b67abbeef9df44fd0fd,5b51032eddd242adc84c38acab88f23d,2018-01-18 14:48:30,199.00,17.87,moveis_decoracao,59.0,695.0,2.0,3050.0,33.0,13.0,33.0
3,00024acbcdf0a6daa1e931b038114c75,1,7634da152a4610f1595efa32f14722fc,9d7a1d34a5052409006425275ba1c2b4,2018-08-15 10:10:18,12.99,12.79,perfumaria,42.0,480.0,1.0,200.0,16.0,10.0,15.0
4,00042b26cf59d7ce69dfabb4e55b4fd9,1,ac6c3623068f30de03045865e4e10089,df560393f3a51e74553ab94004ba5c87,2017-02-13 13:57:51,199.90,18.14,ferramentas_jardim,59.0,409.0,1.0,3750.0,35.0,40.0,30.0

In [13]:
# Selecting the relevant columns
final_dataset = merged_dataset[['product_id', 'product_weight_g', 'product_length_cm', 'product_height_cm', 'product_width_cm', 'freight_value']]

In [14]:
final_dataset.shape

(32951, 6)

In [15]:
final_dataset.head()

,product_id,product_weight_g,product_length_cm,product_height_cm,product_width_cm,freight_value
0,4244733e06e7ecb4970a6e2683c13e61,650.0,28.0,9.0,14.0,13.29
1,e5f2d52b802189ee658865ca93d83a8f,30000.0,50.0,30.0,40.0,19.93
2,c777355d18b72b67abbeef9df44fd0fd,3050.0,33.0,13.0,33.0,17.87
3,7634da152a4610f1595efa32f14722fc,200.0,16.0,10.0,15.0,12.79
4,ac6c3623068f30de03045865e4e10089,3750.0,35.0,40.0,30.0,18.14

In [16]:
# Exporting the new dataset
final_dataset.to_csv('freight_dataset.csv', index=False)